<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/48351f586e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/country.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:wght@600;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <h1 class="title">Where in the world?</h1>
        <button class="dark-mode-btn"><i class="fa-regular fa-moon"></i><p class="dark-mode">Dark Mode</p></button>
    </header>

    <!--MAIN-->
    <main class="main">

        <!--BUTTON BACK-->
        <section class="back">
            <button class="btn-back" href="index.html"><i class="fa-solid fa-arrow-left"></i>Back</button>
        </section>

        <!--COUNTRY INFO-->
        <section class="country">
            <img src="" alt="" class="flag">

            <div class="info">
                <div class="main-info">
                    <h2 class="country-name"></h2>
                    <div class="little-info"><strong>Native Name:</strong><p class="native-name">Belgie</p></div>
                    <div class="little-info"><strong>Population:</strong><p class="population">99999999999999</p></div>
                    <div class="little-info"><strong>Region:</strong><p class="region">Belgie</p></div>
                    <div class="little-info"><strong>Sub Region:</strong><p class="sub-region">Belgie</p></div>
                    <div class="little-info"><strong>Capital:</strong><p class="capital">Belgie</p></div>
                </div>
    
                <div class="second-info">
                    <div class="little-info"><strong>Top Level Domain:</strong><p class="tld">Belgie</p></div>
                    <div class="little-info"><strong>Currencies:</strong><p class="currencies">Belgie</p></div>
                    <div class="little-info"><strong>Languages:</strong><p class="languages">Belgie</p></div>
                </div>
    
                <div class="borders">
                    <strong>Border Countries:</strong>
                </div>
            </div>
        </section>
    </main>


<!--JS-->
<script src="/static/js/country.js"></script>
<script src="/static/js/darkMode.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>