<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/48351f586e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:wght@600;800&display=swap" rel="stylesheet">
    <title>index</title>
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <h1 class="title">Where in the world?</h1>
        <button class="dark-mode-btn"><i class="fa-regular fa-moon"></i><p class="dark-mode">Dark Mode</p></button>
    </header>

    <!--MAIN-->
    <main class="main">
        <!--BODY TOP-->
        <section class="body-top">
            <input type="text" class="input-search" placeholder="  Search for a country...">
            <select name="select" id="select" class="select">
                <option value="default" class="option" selected>Filter by Region</option>
                <option value="africa" class="option">Africa</option>
                <option value="americas" class="option">America</option>
                <option value="asia" class="option">Asia</option>
                <option value="europe" class="option">Europe</option>
                <option value="oceania" class="option">Oceania</option>
            </select>
        </section>

        <!--COUNTRIES-->
        <section class="countries">
            <div class="not-found filter"><i class="fa-solid fa-magnifying-glass"></i><p>Not Found :(</p></div>
        </section>
    </main>

<!--JS-->
<script src="/static/js/main.js" type="module"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/filterRegion.js"></script>
<script src="/static/js/darkMode.js"></script>
</body>
</html>